body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  min-height: 100vh;
}

.form-group {
  display: flex;
  flex-direction: column; /* Keep this as 'column' for a vertical layout */
  align-items: center;
  margin: 10px 0; /* Add margin to separate each input group */
}

.form-group label {
  margin-bottom: 5px; /* Add some space between label and input */
}

.form-group input[type="number"] {
  width: 75px; /* Adjust the width as needed */
}

.number-input {
  margin: 10px 0; /* Adjust the margin as needed */
}
